{{> header }}
<div class=container>
<h2><font color="brown"> Details for bloom: {{bloom.name}}</h2><font color="black">
<div>
	<u1> 
		<li> Category: {{bloom.biotype}} </li>
		<li> Created on: {{bloom.date}} </li> 
		<li> Created by: {{bloom.username}} </li>
		<li> Details: {{bloom.details}} </li>
		<li> Location: {{bloom.city}},  {{bloom.country}}</li>
	</ul>
</div>

<!-- <h3>{{user.first_name}}'s Current Blooms:</h3>
{{#if blooms}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Created</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each blooms}}
    <tr>
      <th scope="row">{{date}}</th>
      <td>{{biotype}}</td>
      <td>{{name}}</td>
      <td>{{details}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p> This user hasn't created any blooms yet. Maybe you can send him a comment and sugget one! </p>
{{/if}}-->
<br>
</div>
