{{> header }}

<h1><font color="brown">Bloom, Terra Search Results</h1>
<h2><font color="black">Your search for "{{searchWord}}" produced the following results:</h2>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each search}}
    <tr>
      <th scope="row">{{Category}}</th>
      <td>{{Name}}</td>
      <td><a href="/{{Category}}/{{id}}"><button>More Details / Comment </button></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

